%section.contact
  .contact__mapbox
    #map-canvas
  #contact.contact__wrapper
    %h1 Contact
    %p
      Email:
      %a(href="mailto:info@rubydcamp.org.za") &#105;&#110;&#102;&#111;&#064;&#114;&#117;&#098;&#121;&#100;&#099;&#097;&#109;&#112;&#046;&#111;&#114;&#103;&#046;&#122;&#097;
%footer © <?php date_default_timezone_set('Europe/Berlin'); echo date('Y'); ?> <strong>RubyDCampZA</strong><br/></a>
%script(src="javascript/rdcza.min.js")
