%section.contact
  .contact__mapbox
    #map-canvas
  #contact.contact__wrapper
    %h1(data-translate="contact__h1")
    .info
      %p
        Email:
        %a(href="mailto:info@EMAILDOMAIN")
          -# &#105;&#110;&#102;&#111;&#064;&#116;&#114;&#105;&#110;&#107;&#097;&#117;&#115;&#046;&#099;&#099;
          -# encoded email address here
%footer © <?php date_default_timezone_set('Europe/Berlin'); echo date('Y'); ?> <strong>RubyDCampZA</strong><br/></a>
%script(src="javascript/rdcza.min.js")
