%meta(http-equiv="Content-type" content="text/html; charset=UTF-8")
%meta(name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=no, minimal-ui")
%meta(name="apple-mobile-web-app-capable" content="yes")
%meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
%title RubyDCampZA
%meta(property="og:title" content="RubyDCampZA")
-# %meta(property="og:description" content="DESCRIPTION")
-# %meta(property="og:image" content="http://trinkaus.cc/tccv5_fb.png")
-# %meta(property="og:image:width" content="400")
-# %meta(property="og:image:height" content="400")
%script(type="text/javascript" src="//use.typekit.net/vfu2gyb.js")
%script(type="text/javascript") try{Typekit.load();}catch(e){}
%link(rel="stylesheet" href="stylesheets/rdcza.prefixed.css" type="text/css" media="screen")
%script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
%script(src="javascript/modernizr.custom.17715.min.js")
%script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5ZX5YAwG_HRqcMqb190zfg6HDHiOb7L8&sensor=true")
<!--[if lt IE 9]><script src="javascript/vendor/html5shiv.min.js"></script><![endif]-->
%link(rel="shortcut icon" href="images/favicons/favicon.ico")
%link(rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png")
%link(rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png")
%link(rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png")
%link(rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png")
%link(rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png")
%link(rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png")
%link(rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png")
%link(rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png")
%meta(name="apple-mobile-web-app-title" content="rdcza")
%link(rel="icon" type="image/png" href="images/favicons/favicon-196x196.png" sizes="196x196")
%link(rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160")
%link(rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96")
%link(rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16")
%link(rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32")
%meta(name="msapplication-TileColor" content="#021633")
%meta(name="msapplication-TileImage" content="images/favicons/mstile-144x144.png")
%meta(name="msapplication-config" content="images/favicons/browserconfig.xml")
%meta(name="application-name" content="rdcza")
