.cssanimations {
  .animateIn {
    -webkit-will-change: animation;
    will-change: animation;
    animation: animateIn 750ms linear both;
  }
  .fadeIn {
    -webkit-will-change: animation;
    will-change: animation;
    opacity: 0;
    animation: fadeIn 1000ms ease 1 forwards;
  }
  .zoomIn {
    opacity: 0;
    transform: scale(1.5);
    -webkit-will-change: animation;
    will-change: animation;
    animation: zoomIn 500ms ease 1 forwards;
  }
  .zoomIn.full {
    transform: scale(2);
  }
  .loader {
    animation: loader 6s ease-in-out 1 200ms;
  }
  .delay500 {
    animation-delay: 500ms;
  }
  .delay750 {
    animation-delay: 750ms;
  }
  .delay1000 {
    animation-delay: 1000ms;
  }
  .delay1500 {
    animation-delay: 1500ms;
  }
  .delay2000 {
    animation-delay: 2000ms;
  }
  .delay3000 {
    animation-delay: 3000ms;
  }
  .duration500 {
    animation-duration: 500ms;
  }
  .duration1500 {
    animation-duration: 1500ms;
  }
  .duration2000 {
    animation-duration: 2000ms;
  }
  .hideFirst {
    opacity: 0;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1
  }
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes loader {
  0% {
    opacity: 0;
    transform-origin: left;
    transform: scaleX(0);
  }
  81% {
    opacity: 1;
    transform-origin: left;
    transform: scaleX(1);
  }
  81.01% {
    opacity: 1;
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    opacity: 1;
    transform-origin: right;
    transform: scaleX(0);
  }
}

@keyframes translateIn {
  30% {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0px) scale(0.85);
    opacity: 0;
  }
}

@keyframes scaleIn {
  80% {
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    opacity: 0.1;
  }
  100% {
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    opacity: 0;
  }
}
