!!! 5
%html.no-js
  %head
    <?php include('_head.php') ?>
  %body
    %section.intro
      %hgroup.intro__header
        %h1 RubyDCamp
        %h2 ZA
        %h3 A free unconference to code, share, learn, and improve Ruby.
    %section.info
      %h1 3 days and nights of Rubyists in the same place. Stay overnight Friday and Saturday!
      %p Out-of-towners are welcome to arrive Thursday afternoon/evening and depart Monday morning if it makes their travel more convenient.
      %p Food, cots, and the event are graciously paid for by our sponsors. Bring toiletries, a sleeping bag and/or blanket, pillows, some warm clothing just in case, and a hunger to teach and learn.
    %section.facts
      %h2
        %img(src="images/time.min.svg" alt="Time")
        When
      %p September 11th - 15th 2014.
      %h2
        %img(src="images/where.min.svg" alt="Where")
        Where
      %p In a top secret retreat in the proximity of Nelspruit, Mpumalanga, South Africa.
      %h2
        %img(src="images/what.min.svg" alt="What")
        What
      %p Friday is a code retreat, Saturday & Sunday are Open Spaces.
    %section.schedule
      %h2
        %img(src="images/schedule.min.svg" alt="Schedule")
        Schedule
      %h3 Thursday
      %p afternoon - eveningcamp opens for early arrivals. Food will be provided. Just be sure to check the "Thursday night" box in the registration form.
      %h3 Friday (Code Retreat)
      %p 8:00ambreakfast
      %p 9:00amwelcome
      %p 9:05am three 45 minute pairing sessions on the Game of Life
      %p ~noonlunch
      %p 1:30pm three 45 minute pairing sessions on the Game of Life
      %p 5pmretreat adjourns
      %p ~5:30pmdinner
      %p later looks like I picked the wrong week to quit drinking
      %h3 Saturday and Sunday (Open Space Event)
      %p 8:00ambreakfast
      %p 9:00amEvan welcoming speech
      %p 9:05amgroup brainstorming
      %p 9:30amgroup planning session
      %p 10amOpen Space sessions begin
      %p ~noonlunch (often coincides with sessions)
      %p 1pmmore sessions
      %p 6pmgroup daily debrief
      %p 6:15pmdinner
      %p later looks like I picked the wrong week to quit sniffing glue
      %h3 Monday
      %p morningCamp available for late departures

    <?php include('_bottom.php') ?>
