!!! 5
%html.no-js
  %head
    <?php include('_head.php') ?>
  %body
    %section.intro
      %hgroup.intro__header
        %h1 RubyDCamp
        %h2 ZA
        %h3 A free unconference to code, share, learn, and improve Ruby.
    %section.info
      %h1 3 days and nights of Rubyists in the same place. Stay overnight Friday and Saturday!
      %p Out-of-towners are welcome to arrive Thursday afternoon/evening and depart Monday morning if it makes their travel more convenient.
      %p Food, cots, and the event are graciously paid for by our sponsors. Bring toiletries, a sleeping bag and/or blanket, pillows, some warm clothing just in case, and a hunger to teach and learn.
    %section.facts
      %h2
        %img(src="images/time.min.svg" alt="Time")
        When
      %p September 2nd - 4th 2016.
      %h2
        %img(src="images/where.min.svg" alt="Where")
        Where
      %p In a top secret retreat in the proximity of Nelspruit, Mpumalanga, South Africa.
      %h2
        %img(src="images/what.min.svg" alt="What")
        What
      %p Friday will consist of Mob programming sessions, Ruby Koans & helping Ruby n00bs learn just how awesome Ruby is. Saturday & Sunday will be filled with mindblowing programming discussions!
    %section.schedule
      %h2
        %img(src="images/schedule.min.svg" alt="Schedule")
        Schedule
      %ul.flex
        %li.info
          %h3 Thu
          %p <em>evening</em> Camp opens for early arrivals. Food will be provided. Just be sure to check the "Thursday night" box in the registration form.
        %li.info
          %h3 Fri
          %p <em>8:00am</em> Breakfast
          %p <em>9:00am</em> Welcome
          %p <em>9:05am</em> TBC
          %p <em>~noon</em> Lunch
          %p <em>1:30pm</em> TBC
          %p <em>5pm</em> Retreat adjourns
          %p <em>~5:30pm</em> Dinner
        %li.info
          %h3 Sat
          %p <em>8:00am</em> Breakfast
          %p <em>9:00am</em> Hannes welcoming speech
          %p <em>9:05am</em> Group brainstorming
          %p <em>9:30am</em> Group planning session
          %p <em>10am</em> Open Space sessions begin
          %p <em>~noon</em> Lunch (often coincides with sessions)
          %p <em>1pm</em> More sessions
          %p <em>6pm</em> Group daily debrief
          %p <em>6:15pm</em> Dinner
        %li.info
          %h3 Sun
          %p <em>8:00am</em> Breakfast
          %p <em>9:00am</em> Hannes welcoming speech
          %p <em>9:05am</em> Group brainstorming
          %p <em>9:30am</em> Group planning session
          %p <em>10am</em> Open Space sessions begin
          %p <em>~noon</em> We enjoy the last of the spoils before the bus heads back to Jozi
    <?php include('_bottom.php') ?>
