@import "vars";
@import "mixins";
@import "rdcza__keyframes";
@import "reset";

body,
html {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to bottom, rgba($bg-color-dark - 50, 1), rgba($bg-color-dark,0) 280px, rgba($bg-color-dark,0) 280px), url(../images/bg@2x.png);
  font-size: $medium-font-size;
  font-family: $fbody;
  color: $bright-text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.36;
  font-weight: $weight-regular;
}

h1, h2, h3, h4, h5 {
  font-weight: $weight-book;
  line-height: 1.36;
}

section {
  h1 {
    font-size: $biggest-font-size;
    margin: 0 auto 6rem;
  }
  > h2,
  .contact__wrapper > h1 {
    color: $light-blue;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    font-weight: $weight-thin;
    img {
      vertical-align: middle;
    }
  }
  > h3 {
    font-size: 2.7rem;
    font-weight: $weight-semibold;
  }
  > p {
    font-size: $larger-font-size;
    font-weight: $weight-book;
    margin-bottom: 5rem;
  }
  &.small {
    h1 {
      margin: 0 0 2rem;
    }
    p {
      margin-bottom: 0;
    }
  }
}

body {
  > section {
    padding: 16rem 8rem;
    &.small {
      padding: 8rem;
    }
  }
  > section svg,
  > section img {
    max-width: 100%;
  }
}

@include media(1024) {
  body > section {
    padding: 16rem 3rem;
    &.small {
      padding: 12 3rem;
    }
  }
}

@media only screen and (max-device-width: 640px) {
  body > section {
    padding: 8rem 3rem;
    &.small {
      padding: 6rem 3rem;
    }
  }
}

 // GENERAL STUFF

ul.flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  li {
    padding: 1rem 3rem 0.5rem;
    color: inherit;
    font-size: $larger-font-size;
    h3 {
      font-size: $bigger-font-size;
      font-weight: $weight-regular;
      margin-bottom: 2rem;
      em {
        display: block;
        font-size: $larger-font-size;
      }
    }
    // li
    @include media(640) {
      padding: 1rem 2rem;
    }
  }

  //ul
  &.large {
    li {
      font-size: $bigger-font-size;
      border-radius: 2rem;
      font-weight: $weight-book;
      margin: 1.5rem;
      color: inherit;
    }
  }
}

.info {
  background-color: rgba($bright-text-color, .05);
  border: 1px solid rgba($bright-text-color, .2);
  border-radius: 2rem;
  padding: 5rem;
  position: relative;
  list-style: none;
  margin: 6rem auto 0;
  font-size: $larger-font-size;
  max-width: 800px;
  h3 {
    font-size: $big-font-size;
    font-weight: $weight-medium;
    margin: 1rem 2rem;
  }
  // .info
  .light & {
    background-color: rgba($bg-color-dark, .1);
    border: 1px solid rgba($bg-color-dark, .25);
  }
  p:last-child {
    margin-bottom: 0;
  }
}

// CONTACT
.contact {
  min-height: 500px;
  position: relative;
  padding: 0;
}

.contact__mapbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

#map-canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.contact__wrapper {
  z-index: 1;
  position: relative;
  background-image: linear-gradient(to bottom, $bg-color-dark - 50, rgba($bg-color-dark,.8));
  box-shadow: inset 0 5px 0 0 $bg-color-dark +10;
  padding: 8rem;
  min-height: 500px;
  color: $bright-text-color;
}

@include media(1024) {
  .contact__wrapper {
    padding: 8rem 4rem;
  }
}

// FOOTER
footer {
  background-color: $bg-color-dark - 30;
  color: rgba($bright-text-color,.5);
  padding: 3rem;
  box-shadow: inset 0 8px 0 0 rgba($bg-color-dark,.25);
  a {
    color: $bright-text-color;
  }
}

// INTRO
section.intro {
  padding-top: 30rem;
  max-width: none;
}

.intro__header {
  position: relative;
  width: 115rem;
  height: 40rem;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-size: 16rem;
    font-weight: $weight-medium;
    font-family: $fhead;
    color: mix($ruby, black, 62);
    text-shadow: 5px 5px 0 $bg-color-dark - 20, 10px 10px 0 $bg-color-dark, 20px 20px 0 rgba(white,.1);
    transform: rotate(-10deg);
    position: absolute;
    margin: 0 auto;
    z-index: 10;
    left: 0;
    right: 0;
    padding: 0 2rem;
    &:after {
      content: "RUBYDCAMP";
      display: block;
      color: $ruby;
      text-shadow: none;
      position: absolute;
      top: -0.4rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 11;
      padding: 0 2rem;
      .backgroundcliptext & {
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to bottom, $ruby + 40, $ruby - 40);
        text-shadow: 0px -5px 0 rgba(255,240,230,.3);
      }
    }
  }
  h2 {
    font-size: 12rem;
    font-weight: $weight-thin;
    position: absolute;
    top: 14rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 12;
    text-align: right;
    padding-right: 8.6rem;
    &:before {
      content: "South Africa";
      text-transform: uppercase;
      font-weight: $weight-regular;
      font-size: 2rem;
      position: absolute;
      right: 21rem;
      top: 6.6rem;
      opacity: 0.75;
    }
  }
  // .intro__header
  &:after {
    float: right;
    position: absolute;
    top: 14rem;
    right: 0;
    content: "";
    display: block;
    background-image: url(../images/sa_map.min.svg);
    width: 182px;
    height: 155px;
    opacity: 0.1;
  }
  &:before {
    position: absolute;
    top: -20rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    display: block;
    background-image: url(../images/ruby_camp.min.svg);
    width: 443px;
    height: 242px;
  }
  h3 {
    font-size: 8rem;
    font-weight: $weight-thin;
    position: relative;
    top: 37rem;
  }
}


section.info {
  margin: 12rem auto;
}

// FACTS
section.facts {
  background-color: rgba(darken($bg-color-dark, 20%), 0.5);
}


// SCHEDULE
section.schedule {
  .flex {
    li {
      width: 22.5%;
      margin: 1.25%;
      padding: 2rem 3rem 3rem;
      font-size: 1.8rem;
      h3 {
        color: $light-blue +50;
      }
      em {
        display: block;
        font-size: 1.5rem;
        font-weight: $weight-semibold;
        color: $bright-text-color;
        &:before,
        &:after {
          content: ' – ';
          opacity: 0.25;
        }
      }
      p {
        margin-bottom: 1rem;
        color: $light-blue;
      }
    }
  }
}


// MEDIA QUERIES
@media screen and (max-width: 1360px) {
  .intro__header {
    width: 100%;
    h1 {
      font-size: 12rem;
    }
    h3 {
      font-size: 6rem;
    }
  }
  section.schedule {
    ul.flex {
      li {
        width: 100%;
        margin: 2rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .intro__header {
    h1 {
      font-size: 10rem;
    }
    h3 {
      padding: 0 6rem;
    }
  }
}

@media screen and (max-width: 840px) {
  .intro__header {
    h1 {
      font-size: 9rem;
    }
    h3 {
      padding: 0 4rem;
    }
  }
  section.info {
    margin: 12rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  section.intro {
    padding-bottom: 0;
  }
  .intro__header {
    h1 {
      font-size: 7rem;
    }
    &:before {
      transform: scale(0.75);
    }
    &:after,
    h2 {
      top: 8rem;
    }
    h3 {
      top: 31rem;
      font-size: 4rem;
    }
  }
}

@media screen and (max-width: 600px) {
  section.intro {
    padding-bottom: 5rem;
    padding-top: 23rem;
  }
  .intro__header {
    h1 {
      font-size: 5rem;
    }
    &:before {
      transform: scale(0.5);
    }
    &:after,
    h2 {
      top: 6rem;
    }
    h2 {
      font-size: 8rem;
      &:before {
        font-size: 1.5rem;
        position: absolute;
        right: 18rem;
        top: 4.4rem;
      }
    }
    h3 {
      top: 24rem;
      font-size: 4rem;
    }
  }
  section h1 {
    font-size: 3.2rem;
  }
}
